@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

* {
  scroll-behavior: smooth;
}

body {
    background-color: #000;
    color: #fff;
    font-family: 'SF Pro Display', sans-serif;
    max-width: 1440px;
    margin: 0 auto!important;
}

.coming-soon {
    background-image: url('./images/uiux.webp');
    background-color: rgba(0, 0, 0, 0.2);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.custom-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(550px, 1fr));
    grid-gap: 100px;
}

@media screen and (max-width: 650px) {
    .custom-grid {
        display: block;
    }
}

.gradient-border {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: #fff;
    background-clip: padding-box;
}
.gradient-border::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    border-radius: inherit;
    background: #fff;
    border-radius: 13px;
}
.gradient-border::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    margin: -3px;
    border-radius: inherit;
    border-radius: 15px;
    background: linear-gradient(104.04deg, #FE75F0 0%, #491CFF 100%);
}



.custom-text {
    background: linear-gradient(104.04deg, #FE75F0 0%, #491CFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.custom-text-learn {
    background: linear-gradient(104.04deg, rgba(117, 196, 254, 1) 0%, #491CFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.custom-text-stat {
    background: linear-gradient(104.04deg, rgba(254, 117, 117, 1) 0%, #491CFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.custom-text-more {
    background: linear-gradient(104.04deg, rgba(117, 254, 131, 1) 0%, #491CFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}


.custom-button:hover .custom-text {
    transform: scale(1.1);
}

.iPhoneBounce {
    animation: iPhoneBounce 5s ease-in-out infinite alternate;
    
}

@keyframes iPhoneBounce {
    0% {
        transform: rotate3d(0) translateY(0);
    }
    50% {
        transform: translateY(-50px) rotate3d(-1, 1, -0.1, -20deg);
    }
    100% {
        transform: rotate3d(0) translateY(0);
    }
}


.scroll-indicator {
  animation: scroll-indicator 2s ease-in-out infinite;
}

@keyframes scroll-indicator {
    0% {
      opacity: 1;
        transform: translateX(-50%) translateY(0);
    }
    50% {
      opacity: 0;
        transform: translateX(-50%) translateY(-50px);
    }
    100% {
      opacity: 1;

        transform:  translateX(-50%) translateY(0);
    }
}

/* SUCESS */


@keyframes scaleAnimation {
    0% {
      opacity: 0;
      transform: scale(1.5);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  @keyframes drawCircle {
    0% {
      stroke-dashoffset: 151px;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
  
  @keyframes drawCheck {
    0% {
      stroke-dashoffset: 36px;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
  
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  
  #successAnimationCircle {
    stroke-dasharray: 151px 36px;
    stroke: #000;
  }
  
  #successAnimationCheck {
    stroke-dasharray: 151px 36px;
    stroke: #000;
  }
  
  #successAnimationResult {
    fill: #000;
    opacity: 0;
  }
  
  #successAnimation.animated {
    animation: 1s ease-out 0s 1 both scaleAnimation;
  }
  
  #successAnimationCircle {
    animation: 1s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 both drawCircle,
               0.3s linear 0.9s 1 both fadeOut;
  }
  
  #successAnimationCheck {
    animation: 1s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 both drawCheck,
               0.3s linear 0.9s 1 both fadeOut;
  }
  
  #successAnimationResult {
    animation: 0.3s linear 0.9s both fadeIn;
  }

@tailwind base;
@tailwind components;
@tailwind utilities;